
@{
    ViewBag.Title = "Index";
}
<div class="row">
    <div class="col-8">
        <div class="card message">
            <div class="card-body">
                <div>
                    No messages yet... say hi by using the message box below
                </div>

                <ul 
                    style="overflow: scroll; height: 535px;padding: 0 7px; overflow-x: auto;"
                    class="chat">
                    <li>
                        <div>
                            <span class="chat-img float-right">
                                <img class="rounded-circle" src="https://randomuser.me/api/portraits/women/54.jpg">
                            </span>
                            <div class="chat-body">
                                <div class="header">
                                    <small class="text-muted">
                                        <span class="fa fa-clock-o"></span>

                                        <span class="text-success">
                                            (read {{message.dateRead | timeago}})
                                        </span>
                                    </small>
                                </div>
                                <p>{{message.content}}</p>
                            </div>
                        </div>
                    </li>
                </ul>

            </div>
            <div class="card-footer">
                <form>
                    <div class="input-group mb-3">
                        <input type="text"
                               name="messageContent"
                               class="form-control"
                               placeholder="Send Private Message">
                        <div class="input-group-append">
                            <button class="btn btn-primary" type="submit">
                                Send
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>